<div style="margin: 10px auto; width: 90%; padding: 20px;">
  <h1>Mails</h1>
  <div class="mat-elevation-z8" *ngIf="mails.length > 0; else noMail">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef> Sender </th>
        <td mat-cell *matCellDef="let element"> {{element.fromName}} ({{element.fromEmail}}) </td>
      </ng-container>

      <ng-container matColumnDef="receiver">
        <th mat-header-cell *matHeaderCellDef> Receiver </th>
        <td mat-cell *matCellDef="let element"> {{element.toName}} ({{element.toEmail}}) </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.status == 'SUCCESS'" class="sucesss-status-badge">{{element.status}}</span>
          <span *ngIf="element.status == 'PENDING'" class="pending-status-badge">{{element.status}}</span>
          <span *ngIf="element.status == 'FAILED'" class="failed-status-badge">{{element.status}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef> Service Provider </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.mailProvider">{{element.mailProvider}}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!--- [pageSizeOptions]="[5, 10, 20]" -->
    <mat-paginator 
                  [pageSize]="pageSize"
                  [length]="totalElements"
                  (page)="page($event)"
                  showFirstLastButtons 
                  aria-label="Select page">
    </mat-paginator>
  </div>
  <ng-template #noMail>No mail found.</ng-template>
</div>